/* XS */
h1{
    color: red;
}

/* SM */
@media (min-width: 576px) {
    h1{
        color: blue;
    }
}

/* MD */
@media (min-width: 768px) {
    h1{
        color: green;
    }
}

/* LG */
@media (min-width: 992px) {
    h1{
        color: yellow;
    }
}

/* XL */
@media (min-width: 1200px) {
    h1{
        color: purple;
    }
}

.btn-primary{
    background-color: red;
    color: white;
}

.container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
}

.container-fluid{
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
}

/* Container breakpoint */
.container-sm{
    margin-bottom: 30px;
    border: 2px solid red;
}
.container-md{
    margin-bottom: 30px;
    border: 2px solid blue;
}
.container-lg{
    margin-bottom: 30px;
    border: 2px solid chocolate;
}

/* Grid */
.container{
    border: 5px dotted blue;
    padding: 10px;
    margin-bottom: 300px;
}

.row{
    border: 5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.col{
    border: 2px dashed red;
    height: 100%;
    padding: 10px;
    margin: 0;
}